# Python
__pycache__/
*.pyc
.venv/

# Sensitive config
env/
source/bot_data.pickle

isthisalis-home-adress.md
sex-with-ramses666.mp4
**/opencode-sessions/

bot-data/personality-public.md
bot-data/phrases.json
bot-data/superusers.json
bot-data/personality.md

info/botinfo.md
info/documentation.md
